@* Aenigma - Federal messaging system
Copyright © 2024-2025 Romulus-Emanuel Ruja <romulus-emanuel.ruja@tutanota.com>

This file is part of Aenigma project.

Aenigma is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Aenigma is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Aenigma.  If not, see <https://www.gnu.org/licenses/>. *@

@page "/Dashboard"
@rendermode InteractiveServer

@using Enigma5.App.Resources.Commands
@using Enigma5.Security.Contracts
@using System.Collections.Immutable
@using System.Text
@using MediatR

@inject IMediator Mediator

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title mb-3 text-center">Aenigma</h4>
                    <div class="form-group mb-3">
                        <label for="passwordInput">Password</label>
                        <input type="password"
                               id="passwordInput"
                               class="form-control"
                               @bind="Password" />
                    </div>
                    <button class="btn btn-primary w-100" @onclick="Submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string Password { get; set; } = string.Empty;

    private void Submit()
    {
        Mediator.Send(new SetMasterPassphraseCommand(Password.ToCharArray()));
        Password = string.Empty;        
    }
}
