@* Aenigma - Federal messaging system
Copyright © 2024-2025 Romulus-Emanuel Ruja <romulus-emanuel.ruja@tutanota.com>

This file is part of Aenigma project.

Aenigma is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Aenigma is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Aenigma.  If not, see <https://www.gnu.org/licenses/>. *@

@page "/Dashboard"
@rendermode InteractiveServer

@using Enigma5.App.Models
@using Enigma5.App.Resources.Commands
@using Enigma5.App.Resources.Handlers
@using Enigma5.App.Resources.Queries
@using Enigma5.App.UI.Common
@using Enigma5.App.UI.Dashboard
@using Enigma5.Security.Contracts
@using System.Collections.Immutable
@using System.Text
@using MediatR

@inject IMediator Mediator

<div class="row justify-content-center">
    <div class="col col-3">
        <PassphraseInput OnSubmit="SubmitPassphrase" />
    </div>
    <div class="col col-9">
        <PeersInput Items="Peers" OnAddItem="SubmitNewPeer" OnRemoveItem="RemovePeer" />
    </div>
</div>

@code {
    private IEnumerable<Peer> Peers = [];

    protected override async Task OnInitializedAsync()
    {
        await LoadPeers();
    }

    private async Task LoadPeers()
    {
        var result = await Mediator.Send(new GetPeersQuery());
        if (result.IsSuccessNotNullResultValue())
        {
            Peers = result.Value!;
        }
        await InvokeAsync(StateHasChanged);
    }

    private async Task SubmitNewPeer(Peer peer)
    {
        if (string.IsNullOrWhiteSpace(peer.Host) || string.IsNullOrWhiteSpace(peer.Address))
        {
            return;
        }
        var result = await Mediator.Send(new AddPeerCommand(peer.Host, peer.Address));
        if (result.IsSuccessNotNullResultValue())
        {
            await LoadPeers();
        }
    }

    private async Task RemovePeer(Peer peer)
    {
        var result = await Mediator.Send(new RemovePeerCommand(peer.Id));
        if (result.IsSuccessNotNullResultValue())
        {
            await LoadPeers();
        }
    }

    private async Task SubmitPassphrase(char[] passphrase)
    {
        await Mediator.Send(new SetMasterPassphraseCommand(passphrase));
        Array.Clear(passphrase);
    }
}
