@* Aenigma - Federal messaging system
Copyright © 2024-2025 Romulus-Emanuel Ruja <romulus-emanuel.ruja@tutanota.com>

This file is part of Aenigma project.

Aenigma is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Aenigma is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Aenigma.  If not, see <https://www.gnu.org/licenses/>. *@

@using Enigma5.App.Common.Extensions
@using Enigma5.App.Models
@using Enigma5.Security.Contracts

@inject IConfiguration Configuration
@inject ICertificateManager CertificateManager

<div class="card shadow">
    <img class="card-image-top" src="@QrCode" alt="image">
    <div class="card-body">
        <p class="card-text">Scan the QR code to connect to this server or share the connection details below.</p>
        <p class="card-text m-0">Local address:
            <strong>
                @(string.IsNullOrWhiteSpace(Address) ? "not available" : Address)
            </strong>
        </p>
        <p class="card-text m-0">Onion service:
            <strong>
                @(string.IsNullOrWhiteSpace(OnionService) ? "not available" : OnionService)
            </strong>
        </p>
    </div>
</div>

@code {
    private string QrCode = string.Empty;
    private string? Address;
    private string? OnionService;

    protected override async Task OnInitializedAsync()
    {
        QrCode = (await CertificateManager.GetExportedContactDataAsync()).ToQrCode();
        Address = await CertificateManager.GetAddressAsync();
        OnionService = Configuration.GetOnionService();
    }
}